# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
gen
#github limit 100M
#/resource/go1.10.1.linux-amd64.tar.gz
